.hero {
  background-image: url(../../img/hero.jpg);
  background-size: cover;
  background-position: bottom center;
  padding-top: 25vh;
  padding-bottom: 25vh; }

.about-title {
  background: url(../../img/about.jpg);
  background-size: cover;
  background-position: center;
  height: 50vw; }
